*.[oa]
*.lo
*.la
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk/vis5dgtk
gtk/vis5dgtk.pc
gtk/PD_interface.c
gtk/PD_interface.h
gtk/VGC_interface.c
gtk/VGC_interface.h
gtk/interface.c
gtk/interface.h
gtk/support.c
gtk/support.h
gtk/tp_interface.c
gtk/tp_interface.h
gtk/w3D_interface.c
gtk/w3D_interface.h
install-sh
libtool
ltmain.sh
missing
src/api-config.h
src/stamp-h2
src/tclheader.h
stamp-h1
vis5d+.pc
src/v5dimport
src/vis5d
util/comp_to_v5d
util/gg3d
util/gr3d_to_v5d
util/igg3d
util/igu3d
util/makemap
util/maketopo
util/topoinfo
util/v5dappend
util/v5dedit
util/v5dinfo
util/v5dstats
